.home-bgImg-container {
    @include bgImage(100vh,$main-bgImage-path)
}

.home {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__name {
       font-size: 5rem;
       padding-bottom: 1rem; 
       margin-bottom: 1rem;
       border-bottom: 2px solid #fff;

       &--last {
           color: red;
           font-weight: 700;
       }
    }
}