.link-style {
    a {
       padding: 0.4rem;
       @include transition(1s);

       &:hover {
           color: $secondary-color;
       }

    }
}

footer.horizontal {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    @extend .link-style;
}

footer.vertical {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    @extend .link-style;
    .social-icons {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
    }
    .copyright {
        position: fixed;
        bottom: 1rem;
        right: 3rem;
        transform: rotate(90deg) translate(-3rem,-5rem);

    }
}

